services:
  nexus-leader:
    build:
      context: ..
      dockerfile: ./dev/Dockerfile.leader
    container_name: nexus-leader
    volumes:
      - leader-data:/app/data
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - replication-net

  nexus-follower:
    build:
      context: ..
      dockerfile: ./dev/Dockerfile.follower
    container_name: nexus-follower
    volumes:
      - follower-data:/app/data
    ports:
      - "9002:9002"
      - "9003:9003"
    depends_on:
      - nexus-leader
    networks:
      - replication-net

volumes:
  leader-data:
  follower-data:

networks:
  replication-net:
    driver: bridge